.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
out/
*.pdb

TestResults/
*.trx
*.coverage
*.testsettings
*.vsmdi

*.log
*.cache
*.temp
*.pidb
*.svclog
*.tlog
*.ipch
*.ilk
*.sdf
*.sqlite
*.sqlite3

packages/
node_modules/
*.nupkg
project.lock.json
project.assets.json
*.csproj.user

webdriver.log
chromedriver.log

.idea/
*.iml

.DS_Store
Thumbs.db
